

<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="row mt-5 ">

    

    <% for(let item of products){ %>

        <div class="col-lg-4 product-card mb-5">
            <div class="card text-center shadow mt-5 mx-auto h-100 " style="width: 18rem;">
                <img class="card-img-top" src="<%=item.img%>" alt="...">
                <div class="card-body">
                   <h3 class="card-title"> <%= item.name %> </h3>
                   <span class="btn like-btn" product-id="<%= item._id%>">

                   <% if(currentUser && currentUser.wishlist.includes(item._id)){ %>

                        <i class="fa-regular fa-heart"></i>
                        <%  } else{ %>

                        <i class="fa-solid fa-heart" ></i>

                        <%  } %> 

                   </span>
                  <h5 class="card-title"> Rs: <%= item.price %> </h5>
                  <p class="card-text"> <%= item.desc %> </p>
                  <p class="card-text"> <%= item.instock %> </p>
                  <a href="/products/<%=item._id%>" class="btn btnn btn-primary">View Product</a>
                </div>
            </div>
        </div>
        
    <% } %>
</div>
<script src="/js/common.js"></script>

<%-include('../partials/footer')%>

<!-- style="color: red;" -->